.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
	background: #43a047;
}

.button-prev,
.button-next {
	position: absolute !important;
	top: 50%;
	margin-top: -22px;
	z-index: 10;
	cursor: pointer;
	background-size: 27px 44px;
	background-position: center;
	background-repeat: no-repeat;
}

.button-prev {
	right: auto;
	left: 10px;
}

.button-next {
	right: 10px;
	left: auto;
}
